body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
}

.container1 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.text-box {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#errorOutput {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin: 0;
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}

.navbar-link:hover {
    text-decoration: underline;
}

.text-box {
    margin-bottom: 20px;
    width: 45%; /* Adjusted width to fit beside each other */
    display: inline-block;
    vertical-align: top;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow vertical resizing */
    height: calc(100vh - 250px); /* Adjusted height to fill the screen */
}

#errorOutput {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.btn {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}